.time-card {
    display: flex;
    padding: 1vh 0;
}

.time-card > * {
    margin: 0 3vw;
    text-align: center;
    width: 100%;
    border-radius: 1;
}

.valid {
    background-color: lightgreen;
}

.invalid {
    background-color: lightcoral;
}

.round {
    border-radius: 15px;
}