.employee-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
}

.employee-form > *:not(:last-child) {
    margin-bottom: 1vh;
}

.fit {
    width: fit-content;
}