.admin-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 100vh;
    width: 81vw;
}

.admin-container > *:not(:first-child) {
    margin-top: 2vh;
}