.admin-container {
    display: flex;
    width: -webkit-fill-available;
    flex-direction: column;
    overflow: hidden;
}

.dashboard-other {
    display: flex;
    width: -webkit-fill-available;
    padding: 1.5vh 1.5vw;
    min-height: 47vh;
}