.employee-dashboard {
    display: flex;
    flex-direction: column;
    height: 47vh;
    width: -webkit-fill-available;
    padding: 1.5vh 1.5vw;
}

.employee-top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: -webkit-fill-available;
    margin-bottom: 1.5vh;
}

.employee-table {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.employee-list {
    border: 1px solid lightgray;
    overflow: auto;
    height: calc(47vh - 2px - 3vh - 1.5vh);
    width: 50%;
}

.employee-info {
    border: 1px solid lightgray;
    border-left: none;
    display: flex;
    overflow: auto;
    width: 50%;
    height: calc(47vh - 2px - 3vh - 1.5vh);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}