.employee-dashboard {
    display: flex;
    height: 48vh;
    justify-content: space-between;
    width: 81vw;
}

.employee-table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2vh;
    width: 100%;
}

.employee-top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    min-height: 4vh;
    width: -webkit-fill-available;
}

.employee-list {
    width: -webkit-fill-available;
    border: 1px solid lightgray;
    overflow-x: hidden;
    height: -webkit-fill-available;
    overflow: auto;
}

.employee-info {
    border: 1px solid lightgray;
    margin-top: 6vh;
    display: flex;
    width: 100%;
}