.nav-bar {
    display: flex;
    background-color: #eeeeee;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 2vw;
    height: 92vh;
    width: 15vw;
}

.nav-text {
    font-size: 25px;
    color: #1e1e1e;
}

.nav-container {
    height: 4.5vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #1e1e1e;
    width: 10vw;
}

.cursor {
    cursor: pointer;
}

.image {
    margin-right: 2vw;
    width: 30px;
    height: fit-content;
}

.header {
    margin-top: 2vh;
}

.header > * {
    margin-bottom: 4vh;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 17vw;
}

.dark {
    background-color: lightgray;
}