.nav-bar {
    display: flex;
    background-color: #eeeeee;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2vw;
    height: 100vh;
    width: 15vw;
}

.nav-text {
    font-size: 25px;
    color: #1e1e1e;
    margin-left: 0.5vw;
}

.nav-container {
    margin-bottom: 1vh;
    width: 12vw;
    height: 4.5vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #1e1e1e;
}

.cursor {
    cursor: pointer;
}

.image {
    margin-right: 2vw;
    width: 30px;
    height: fit-content;
}

.header {
    margin-top: 2vh;
}