.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    width: 100vw;
}

.nav-text {
    margin-left: 0.5vw;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cursor {
    cursor: pointer;
}

.image {
    width: 25px;
    height: fit-content;
}