.card {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 1.5vh 0;
    width: -webkit-fill-available;
}

.card:last-child {
    border-bottom: none;
}

.name-card {
    display: flex;
    align-items: center;
}