.card {
    display: flex;
    justify-content: space-between;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 1.5vh 0;
    width: 500px;
}

.name-card {
    display: flex;
    align-items: center;
    font-weight: 400;
}