.full-screen-center {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opaque {
    background-color: rgba(0, 0, 0, 0.25);
}

.combo-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    color: #ffffff;
    text-align: center;
}

.combo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    width: 450px;
    height: 100px;
    margin: 20px;
}

.keypad {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 510px;
    height: fit-content;
}

.key {
    width: 150px;
    height: 150px;
    margin: 10px;
    cursor: pointer;
    border-radius: 100%;
    font-size: 25px;
    border: none;
}

.delete {
    color: #ffffff;
    font-size: 75px;
    background-color: transparent;
    cursor: pointer;
}

.key:hover, .delete:hover {
    background-color: #d3d3d3;
}