#root {
    display: flex;
    flex-direction: row;
}

* {
    margin: 0;
    padding: 0;
}

button {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #1e1e1e;
    transition: all ease-in-out 300ms;
    min-height: 3vh;
    padding: 0 1vw;
}

button:hover {
    transition: all ease-in-out 300ms;
    background-color: lightgray;
}

label {
    display: flex;
    min-height: 3vh;
    width: fit-content;
    border-bottom: 1px solid #1e1e1e;
    margin-bottom: 1vh;
}

input {
    display: flex;
    min-height: 3vh;
    text-indent: 1.25vw;
    border: 1px solid lightgray;
}

h3 {
    font-weight: 400;
}

.indent {
    text-indent: 1.25vw;
}

.marg-left {
    margin-left: 1.5vw;
}

.marg-right {
    margin-right: 1.5vw;
}

.marg-bot {
    margin-bottom: 1vh;
}