.message {
    width: inherit;
    display: flex;
    flex-direction: column;
    margin: 1vh 1vw 3vh 1.5vw;
    padding-bottom: 1vh;
    border-bottom: 1px solid lightgray;
}

.message:last-child {
    border: none;
}

.message-top {
    display: flex;
}

.message-top > h4:not(:first-child) {
    margin-left: 1vw;
}

.message-top > * {
    padding: 0.5vh 1.5vw;
    background-color: #d3d3d3;
    border-radius: 25px;
}

.message-bot {
    margin-top: 1vh;
}

.message h4 {
    font-weight: 400;
    font-size: 14px;
}

.high {
    background-color: rgb(255, 77, 0, 0.8);
}

.med {
    background-color: rgba(255, 77, 0, 0.5);
}

.low {
    background-color: rgb(255, 77, 0, 0.2);
}